<div class="fireworks-container">
  <div class="infinity-loader" *ngIf="countDownActive">
    <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
          <stop offset="0%" stop-color="#5ebd3e" />
          <stop offset="33%" stop-color="#ffb900" />
          <stop offset="67%" stop-color="#f78200" />
          <stop offset="100%" stop-color="#e23838" />
        </linearGradient>
        <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
          <stop offset="0%" stop-color="#e23838" />
          <stop offset="33%" stop-color="#973999" />
          <stop offset="67%" stop-color="#009cdf" />
          <stop offset="100%" stop-color="#5ebd3e" />
        </linearGradient>
      </defs>
      <g fill="none" stroke-linecap="round" stroke-width="16">
        <g class="ip__track" stroke="#ddd">
          <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
          <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
        </g>
        <g stroke-dasharray="180 656">
          <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
          <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
        </g>
      </g>
    </svg>
  </div>
  <div class="text-container">
    <h1>AW8 Reunion countdown!</h1>
    <div class="countdown-timer" *ngIf="countDownActive; else itstime">
      <span class="timer-part">{{days}}<small>Days</small></span>
      <span class="timer-part">{{hours}}<small>Hours</small></span>
      <span class="timer-part">{{minutes}}<small>Minutes</small></span>
      <span class="timer-part">{{seconds}}<small>Seconds</small></span>
    </div>
  </div>
</div>

<ng-template #itstime>
  <div id="partytime">
    <p>ITS PARTY TIME</p>
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2pmNjdhNTBwcnJmMThpN3g0YXNod2FwZjdsenc4OXE0c3Y4M3dqYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l3q2zVr6cu95nF6O4/giphy.gif">
  </div>
</ng-template>
